{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}

<section>
  <h2>a little about myself</h2>
  
  <div class="col-sm-8">
    <!-- accordion =================================================================================== -->
    <div id="accordion">
      <div class="info acc-head">
        <button class="btn" href="#">Personal Information<i class="fa fa-plus"></i></button>
        <div class="btn-group">
          <a href="#" class="down-info btn btn-light up">up</a>
          <a href="#" class="btn btn-light down">down</a>
      </div>
      <div class="content">
          <p>betaorionis</p>
          <p>location: Orion, Milky Way</p>
          <p>u dont hv my contacts? go away.</p>
          <p>status: terdampar di pacil</p>
      </div>
      </div>
    </div>
  
    <div id="accordion">
      <div class="activity acc-head">
        <button class="btn" href="#">Activity<i class="fa fa-plus"></i></button>
        <div class="btn-group">
          <a href="#" class="btn btn-light up">up</a>
          <a href="#" class="btn btn-light down">down</a>
      </div>
      <div class="content">
        <p>nugas</p>
        <p>nugas lagi</p>
        <p>ketiduran</p>
        <p>bangun panik tugas blm selesai</p>
        <p>nugas lagi</p>
      </div>
      </div>
    </div>
  
    <div id="accordion">
      <div class="experience acc-head">
        <button class="btn" href="#">Experience<i class="fa fa-plus"></i></button>
        <div class="btn-group">
          <a href="#" class="up-exp btn btn-light up">up</a>
          <a href="#" class="btn btn-light down">down</a>
      </div>
      <div class="content">
        <p>kepeleset</p>
        <p>kejedot meja kelas</p>
        <p>ketiduran trus bangun krn kaget di kelas</p>
      </div>
      </div>
    </div>
  
    <div id="accordion">
      <div class="achievement acc-head">
        <button class="btn" href="#">Achievement<i class="fa fa-plus"></i></button>
        <div class="btn-group">
          <a href="#" class="btn btn-light up">up</a>
          <a href="#" class="btn btn-light down">down</a>
      </div>
      <div class="content">
        <p>a</p>
        <p>be</p>
        <p>ce</p>
        <p>de</p>
        <p>e</p>
      </div>
      </div>
    </div>
  
    <!-- ============================================================================ End of accordion -->
  </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}
