<!DOCTYPE html>
{% load static %}

<nav class="navbar">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/books">books</a>
    <button type="radio" class="btn btn-info theme" id="light_theme">Light</button>
    <button type="radio" class="btn btn-dark theme" id="dark_theme">Dark</button>
    {% if user.is_authenticated %}
      <a class="btn btn-primary" href="/user/">Profile</a>
    {% else %}
      <a class="btn btn-primary" href="/user/login">
        Login
      </a>
    {% endif %}
</nav>