

{% extends 'base.html' %}
{% load static %}

{% block title %}Konfirmasi status{% endblock %}

{% block content %}
    <section>
        <h3>Apakah anda yakin ingin memposting status berikut?</h3>
        <h5>{{ nama }}</h5>
        <p>{{ pesan }}</p>
        
        <form action="" method="POST">
            {% csrf_token %}
            <input id="ya" type="submit" value="Ya" class="button my-4">
        </form>

        <form action="/" method="GET">
            <input id="no" type="submit" value="Batalkan" class="button my-4">
        </form>
    </section>
{% endblock %}